.idea
.docker/.env
.docker/mysql/data
.docker/workspace/.ssh/id_rsa
.docker/workspace/.ssh/id_rsa.pub

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
